Project/Project/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSensors">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Sensors" nillable="true" type="tns:Sensors" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSensors" nillable="true" type="tns:ArrayOfSensors" />
  <xs:complexType name="Sensors">
    <xs:sequence>
      <xs:element minOccurs="0" name="SensorSteel" nillable="true" type="tns:ArrayOfSensorSteel" />
      <xs:element minOccurs="0" name="id_sensor" type="xs:int" />
      <xs:element minOccurs="0" name="name_sensor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sensors" nillable="true" type="tns:Sensors" />
  <xs:complexType name="ArrayOfSensorSteel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SensorSteel" nillable="true" type="tns:SensorSteel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSensorSteel" nillable="true" type="tns:ArrayOfSensorSteel" />
  <xs:complexType name="SensorSteel">
    <xs:sequence>
      <xs:element minOccurs="0" name="R01" type="xs:int" />
      <xs:element minOccurs="0" name="R02" type="xs:int" />
      <xs:element minOccurs="0" name="Sensors" nillable="true" type="tns:Sensors" />
      <xs:element minOccurs="0" name="Steels" nillable="true" type="tns:Steels" />
      <xs:element minOccurs="0" name="id_sensor" type="xs:int" />
      <xs:element minOccurs="0" name="id_sensor_steel" type="xs:int" />
      <xs:element minOccurs="0" name="id_steel" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SensorSteel" nillable="true" type="tns:SensorSteel" />
  <xs:complexType name="Steels">
    <xs:sequence>
      <xs:element minOccurs="0" name="SensorSteel" nillable="true" type="tns:ArrayOfSensorSteel" />
      <xs:element minOccurs="0" name="id_steel" type="xs:int" />
      <xs:element minOccurs="0" name="name_steel" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Steels" nillable="true" type="tns:Steels" />
  <xs:complexType name="ArrayOfSteels">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Steels" nillable="true" type="tns:Steels" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSteels" nillable="true" type="tns:ArrayOfSteels" />
</xs:schema>