Project/Project/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50515/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
  <xs:element name="GetlistSensor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetlistSensorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="GetlistSensorResult" nillable="true" type="q1:ArrayOfSensors" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetlistSteelM1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_Sensor" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetlistSteelM1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="GetlistSteelM1Result" nillable="true" type="q2:ArrayOfSteels" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetlistSteelM3">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_Sensor" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetlistSteelM3Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="GetlistSteelM3Result" nillable="true" type="q3:ArrayOfSteels" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetlistSensor_SteelM1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_Sensors" type="xs:int" />
        <xs:element minOccurs="0" name="Id_Steel" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetlistSensor_SteelM1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="GetlistSensor_SteelM1Result" nillable="true" type="q4:ArrayOfSensorSteel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetlistSensor_SteelM3">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_Sensors" type="xs:int" />
        <xs:element minOccurs="0" name="Id_Steel" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetlistSensor_SteelM3Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="GetlistSensor_SteelM3Result" nillable="true" type="q5:ArrayOfSensorSteelM3" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>