Project/Project/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50515/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
  <xs:element name="GetlistSensor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetlistSensorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="GetlistSensorResult" nillable="true" type="q1:ArrayOfSensors" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetlistSteel">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetlistSteelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="GetlistSteelResult" nillable="true" type="q2:ArrayOfSteels" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetlistSensor_Steel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_Sensors" type="xs:int" />
        <xs:element minOccurs="0" name="Id_Steel" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetlistSensor_SteelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="GetlistSensor_SteelResult" nillable="true" type="q3:ArrayOfSensorSteel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>